.THIS .slds-truncate {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}
.THIS .myFieldset {
    display: block;
    margin-left: 2px;
    margin-right:500px;
    margin-bottom:28px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    
}
 
.THIS .myLegend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}
.THIS.button
{
	margin-left:800px;
    margin-right:2px;
    margin-bottom:28px;    
}