.vps-width-11 {
    width: 11%;
}

.vps-width-12 {
    width: 12.5%;
}

.vps-width-15 {
    width: 15%;
}

.vps-width-20 {
    width: 20%;
}

.vps-width-25 {
    width: 25%;
}

.vps-width-30 {
    width: 30%;
}

.vps-width-40 {
    width: 40%;
}

.vps-width-30px {
    width: 30px;
}

.vps-width-50px {
    width: 50px;
}