.THIS.slds-modal__container{
    max-width: 70rem !important;
    width:100% !important;
    height:800px !important;
}

.THIS .tallTextArea textarea {
  height: 5rem;
}
.THIS {
}

.THIS .SecHeader {
    font-size: 20pt;
}
.THIS .customRequired{
 font-weight: 400; } .THIS .customRequired:before{    
 content: "*";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; } .THIS .none{
 display:none; }